{% extends 'base.html' %}

{% block content %}
<h1>Recent Tweets</h1>

<div id='tweets'>
    test
</div>

<script>
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'
    const tweetsElement = document.getElementById('tweets')

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        server_response = xhr.response
        let listedItems = server_response.response
        console.log(listedItems)

        let finalTweetStr = ""
        for (let i=0; i<listedItems.length; i++){
            finalTweetStr += `<h1>${listedItems[i].content}</h1>`
            console.log(listedItems[i].content)
        }
        tweetsElement.innerHTML=finalTweetStr
    }
    
    xhr.send()
</script>

{% endblock %}
