{% extends 'base.html' %}

{% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Welcome to Twitter</h1>
    </div>
</div>

<div class="row">
    <div class=" mb-4 col-md-4 mx-auto col-10">
        <form class="form" method="POST" action="/create-tweet/">
            {% csrf_token %}
          <input type="hidden" value="/" name="next" />
          <textarea class="form-control" name="content"></textarea>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
</div>

<div class-'row' id='tweets'>
    Loading...
</div>

<script>
    function handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)
    }

    function LikeBtn(tweet){
        return `<button class='btn btn-primary' onclick=handleDidLike(${tweet.id},${tweet.likes})>${tweet.likes} Like</button>`
    }

    function formatTweetElement(tweet){
        let formatedTweet = `
            <div class='mb-4 col-12 col-md-10 mx-auto border rounded p-3 tweet' id='tweet-${tweet.id}'>
            <h3>${tweet.content}</h3>
            ${LikeBtn(tweet)}
            </div>
            `
        return formatedTweet
    }

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'
    const tweetsElement = document.getElementById('tweets')


    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        server_response = xhr.response
        let listedItems = server_response.response

        let finalTweetStr = ""
        for (let i=0; i<listedItems.length; i++){
            let tweetObj = listedItems[i]
            let currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML=finalTweetStr
    }
    
    xhr.send()
</script>

{% endblock %}
